@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif; */

*{
    margin: 0px;
    padding: 0px;
    --main-yellow:#F7DF64;
    --main-dark-grey:#373737;
    --main-bright-grey:#7c7c7c; 
    --main-green: #0D6B1C;
    /*box-sizing: border-box; */
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    position: absolute;
    width: 100%;    
}

#header{
    position: relative;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    width: 100%;
    height: 180px;
}

#header__content{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#header__content--logo{
    max-height: 44px;
    /*literally idk what should i code here yet*/
}

#header__contacts{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

#header__contacts--adress{
    margin-bottom: 10px;
}

#header_loc_icon, #header_time_icon{
    height: 25px;
    margin-right: 8px;
}

#adress__header--regym_text, #adress__header--link{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

#header__contacts--time{
    /* border: 1px solid black; */
}

#header__call{
    width: 250px;
    text-align: center;
}

#header__call--phone{   
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    color: #000000;
}

#adress__header--link, #header__call--phone{
    text-decoration: none;
    border-bottom: 2px dashed black;
}

#reverseCall_BUTTON{
    width: 200px;
    height: 40px;
    background: var(--main-yellow);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-top: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#reverseCall_BUTTON > img{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

#reverseCall_Button__text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--main-dark-grey);
}

#header__cart{
    width: 150px;
}

#menu{
    position: relative;
    max-width: 80%;
    height: 50px;
    background-color: var(--main-dark-grey);
    top: -25px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25));
    animation: .5s ease-in-out; /*do not working*/
    z-index: 1;
}

.menu_item{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-yellow);
    text-decoration: none;
    cursor: pointer;
    /* border-right: 1px solid var(--main-yellow); */
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--main-dark-grey);
}

.menu_item:hover{
    border-bottom: 2px solid var(--main-yellow);
    color: #fff;
    background-color: rgb(90, 90, 90);
    /*ADD ANIMATION*/
}

#screen{
    position: relative;
    width: 100%;
    /* min-height: 500px; */
    height: 90vh;
    background: url('../IMG/screen.jpg') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

#screen__container{
    max-width: 50%;
    height: 85px;
    position: relative;
    left: 15%;
    top: 30%;
}

#screen__container--text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#screen__container--text > h1{
    font-size: 48px;
    padding-bottom: 15px;
    color: var(--main-yellow);
}

#screen__container--text > p{
    padding-bottom: 15px;
    font-size: 28px;
    color: white;
}

#screen__container--button{
    margin-top: 15px;
    width: 250px;
    height: 50px;
    background-color: var(--main-yellow);
    color: var(--main-dark-grey);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    line-height: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    cursor: pointer; /*FOR WHAT?!*/
    border-radius: 5px;
}

#signalka{
    position: relative;
    /* top: 0px;
    left: 0px; */
    width: 100%;
    min-height: 100vh;
    background: url('../IMG/signalka.png') repeat-y center center fixed;
    background-size: cover;
    z-index: 0;
    padding-bottom: 65px;
}

/*!!! HEADER TITLE !!!*/
.header_title{
    position: relative;
    width: 560px;
    height: 70px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-yellow);
    color: var(--main-dark-grey);
    text-align: center;
    line-height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
/*!!! HEADER TITLE !!!*/

.header2_title{
    position: relative;
    display: block;
    /*margin-top: 50px; РАЗОБРАТЬСЯы*/ 
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-dark-grey);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
}

#menu_mobile{
    display: none;
    width: 450px;
    height: calc(100vh - 80px);
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: center;
    filter: none;
    position: absolute;
    top: 80px;
    right: -450px;
    transform: none;
    margin-right: 0;
    background-color: var(--main-dark-grey);
    padding-top: 10%;
    z-index: 1;
}

#menu_mobile_cross, #menu_mobile_icon{
    display: none;
}

.cards_container{
    position: relative;
    margin: 10px auto;
    padding-right: 155px;
    padding-left: 155px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card1{
    position: relative;
    width: 400px;
    height: 140px;
    margin: 15px;
    box-shadow: 0px 6px 10px 0px #0000006e;
    background-color: #fff;
}

.curve{
    position: relative;
    top: 0px;
    width: 400px;
    height: 70%;
    background: url('../IMG/ICONS/curve.png') no-repeat center top;
    background-size: 100% auto;
}

.curve_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--main-dark-grey);
    text-align: center;
}

.card_button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    width: 140px;
    height: 40px;
    background-color: var(--main-dark-grey);
    color: var(--main-yellow);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0px 6px 10px 0px #0000006e;
    border-radius: 5px;
}

#signalka1{
    background: url('../IMG/signal_cards/priora.png') no-repeat center center;
    background-size: 100% 100%;
}

#signalka2{
    background: url('../IMG/signal_cards/abc.png') no-repeat center center;    
    background-size: 100% 100%;
}

#signalka3{
    background: url('../IMG/signal_cards/vnedor.png') no-repeat center center;    
    background-size: 100% 100%;
}

#signalka4{
    background: url('../IMG/signal_cards/d.png') no-repeat center center;    
    background-size: 100% 100%;
}
#signalka5{
    background: url('../IMG/signal_cards/jetta.png') no-repeat center center;    
    background-size: 100% 100%;
}

.marquee_container{
    position: relative;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    background-color: var(--main-dark-grey);
    color: var(--main-yellow);
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 50px;
}

.card2{
    position: relative;
    width: 350px;
    height: 530px;
    margin: 5px;
    box-shadow: 0px 12px 10px 0px #0000006e;
    background-color: #fff;
    margin-bottom: 15px;
}
.card2_image{
    width: 350px;
    height: 350px;
}
.card2_title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--main-dark-grey);
    padding-left: 10px;
    margin-bottom: 8px;
}
.card2_p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--main-bright-grey);
    padding-left: 10px;
    padding-right: 10px;
}
.card2_button{
    width: 100%;
    height: 58px;
    line-height: 58px;
    text-align: center;
    color: var(--main-green);
    background-color: var(--main-yellow);
}
.card2_button--text{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}
