@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif; */

*{
    margin: 0px;
    padding: 0px;
    --main-yellow:#F7DF64;
    --main-dark-grey:#373737;
    --main-bright-grey:#7c7c7c; 
    --main-green: #0D6B1C;
    /*box-sizing: border-box; */
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    position: absolute;
    width: 100%;    
}

#header{
    position: relative;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    width: 100%;
    height: 180px;
}

#header__content{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#header__content--logo{
    max-height: 44px;
    /*literally idk what should i code here yet*/
}

#header__contacts{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

#header__contacts--adress{
    margin-bottom: 10px;
}

#header_loc_icon, #header_time_icon{
    height: 25px;
    margin-right: 8px;
}

#adress__header--regym_text, #adress__header--link{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

#header__contacts--time{
    /* border: 1px solid black; */
}

#header__call{
    width: 250px;
    text-align: center;
}

#header__call--phone{   
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    color: #000000;
}

#adress__header--link, #header__call--phone{
    text-decoration: none;
    border-bottom: 2px dashed black;
}

#reverseCall_BUTTON{
    width: 200px;
    height: 40px;
    background: var(--main-yellow);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-top: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#reverseCall_BUTTON > img{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

#reverseCall_Button__text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--main-dark-grey);
}

#header__cart{
    width: 150px;
}

#menu{
    position: relative;
    max-width: 80%;
    height: 50px;
    background-color: var(--main-dark-grey);
    top: -25px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25));
    animation: .5s ease-in-out; /*do not working*/
    z-index: 1;
}

.menu_item, .menu_item_main{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-yellow);
    text-decoration: none;
    cursor: pointer;
    /* border-right: 1px solid var(--main-yellow); */
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--main-dark-grey);
}

.menu_item:hover, .menu_item_main:hover{
    border-bottom: 2px solid var(--main-yellow);
    color: #fff;
    background-color: rgb(90, 90, 90);
    /*ADD ANIMATION*/
}

#screen{
    position: relative;
    width: 100%;
    /* min-height: 500px; */
    height: 90vh;
    background: url('../IMG/screen.jpg') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

#screen__container{
    max-width: 50%;
    height: 85px;
    position: relative;
    left: 15%;
    top: 30%;
}

#screen__container--text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#screen__container--text > h1{
    font-size: 48px;
    padding-bottom: 15px;
    color: var(--main-yellow);
}

#screen__container--text > p{
    padding-bottom: 15px;
    font-size: 28px;
    color: white;
}

#screen__container--button{
    margin-top: 15px;
    width: 250px;
    height: 50px;
    background-color: var(--main-yellow);
    color: var(--main-dark-grey);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    line-height: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer; /*FOR WHAT?!*/
    border-radius: 5px;
}

#signalka{
    position: relative;
    /* top: 0px;
    left: 0px; */
    width: 100%;
    min-height: 100vh;
    background: url('../IMG/signalka.png') repeat-y center center fixed;
    background-size: cover;
    z-index: 0;
    padding-bottom: 65px;
}

/*!!! HEADER TITLE !!!*/
.header_title{
    position: relative;
    width: 560px;
    height: 70px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-yellow);
    color: var(--main-dark-grey);
    text-align: center;
    line-height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
/*!!! HEADER TITLE !!!*/

.header2_title{
    position: relative;
    display: block;
    /*margin-top: 50px; РАЗОБРАТЬСЯы*/ 
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-dark-grey);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

#menu_mobile{
    width: 100%;
    height: calc(100vh - 80px);
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: center;
    filter: none;
    position: absolute;
    top: 80px;
    right: 0px;
    transform: none;
    margin-right: 0;
    background-color: var(--main-dark-grey);
    padding-top: 10%;
    z-index: 1;
    display: none;
}

#menu_mobile_cross, #menu_mobile_icon{
    display: none;
}

.cards_container{
    position: relative;
    margin: 10px auto;
    padding-right: 155px;
    padding-left: 155px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.expand_block{
    display: none;
}

.card1{
    position: relative;
    width: 400px;
    height: 140px;
    margin: 15px;
    box-shadow: 0px 6px 10px 0px #0000006e;
    background-color: #fff;
}

.curve{
    position: relative;
    top: 0px;
    width: 400px;
    height: 70%;
    background: url('../IMG/ICONS/curve.png') no-repeat center top;
    background-size: 100% auto;
}

.curve_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--main-dark-grey);
    text-align: center;
}

.card_button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    width: 140px;
    height: 40px;
    background-color: var(--main-dark-grey);
    color: var(--main-yellow);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0px 6px 10px 0px #0000006e;
    border-radius: 5px;
    cursor: pointer;
}

#signalka1{
    background: url('../IMG/signal_cards/priora.png') no-repeat center center;
    background-size: 100% 100%;
}

#signalka2{
    background: url('../IMG/signal_cards/abc.png') no-repeat center center;    
    background-size: 100% 100%;
}

#signalka3{
    background: url('../IMG/signal_cards/vnedor.png') no-repeat center center;    
    background-size: 100% 100%;
}

#signalka4{
    background: url('../IMG/signal_cards/d.png') no-repeat center center;    
    background-size: 100% 100%;
}
#signalka5{
    background: url('../IMG/signal_cards/jetta.png') no-repeat center center;    
    background-size: 100% 100%;
}

.marquee_container{
    position: relative;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    background-color: var(--main-dark-grey);
    color: var(--main-yellow);
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 50px;
}

.card2{
    position: relative;
    width: 350px;
    height: 537px;
    margin: 5px;
    box-shadow: 0px 12px 10px 0px #0000006e;
    background-color: #fff;
    margin-bottom: 15px;
}
.card2_image{
    width: 350px;
    height: 350px;
}
.card2_title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--main-dark-grey);
    padding-left: 10px;
    margin-bottom: 8px;
}
.card2_p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--main-bright-grey);
    padding-left: 10px;
    padding-right: 10px;
}
.card2_button{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 58px;
    line-height: 58px;
    text-align: center;
    color: var(--main-green);
    background-color: var(--main-yellow);
    cursor: pointer;
}
.card2_button--text{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}

#avtozvuk{
    position: relative;
    /* top: 0px;
    left: 0px; */
    width: 100%;
    min-height: 100vh;
    background: url('../IMG/dj.png') repeat-y center center fixed;
    background-size: cover;
    z-index: 0;
    padding-bottom: 65px;
}

#avtozvuk_header2{
    color: #fff !important;
}

.avtozvuk{
    background: url('../IMG/kolonki.jpg') no-repeat center center;    
    background-size: 100% 100%;
}

.avtozvukCardP{
    font-size: 13px !important;
}

.avtozvuk_button_text{
    font-size: 20px;
    color: var(--main-dark-grey);
}

ol{
    color: var(--main-dark-grey);
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 13px;
    margin-top: 8px;
}

ol > li{
    color: var(--main-dark-grey);
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 13px;
    margin-top: 2px;
}

#noize{
    position: relative;
    /* top: 0px;
    left: 0px; */
    width: 100%;
    min-height: 100vh;
    background: url('../IMG/NOIZE.png') repeat-y center center fixed;
    background-size: cover;
    z-index: 0;
    padding-bottom: 65px;
}

.card_noize{
    height: 480px;
    border-radius: 15px;
}

.card_noize--h1{
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-dark-grey);
}

.NoizeCardP{
    position: relative;
    margin-top: 5px;
    margin: 0 auto;
    text-align: center;
}

.noizePrice{
    position: relative;
    color: var(--main-green);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}

#toner{
    position: relative;
    /* top: 0px;
    left: 0px; */
    width: 100%;
    height: auto;
    background: url('../IMG/toner.jpg') repeat-y center center fixed;
    background-size: cover;
    z-index: 0;
    padding-bottom: 125px;
}

#toner_header2{
    color: #fff;
    margin-bottom: 30px;
}

.card_toner{
    width: 350px;
    height: 350px;
}

.tonerP{
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-bottom: 3px dashed #fff;
}

.toner_h1{
    color: #fff;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#work{
    position: relative;
    /* top: 0px;
    left: 0px; */
    height: auto;
    width: 100%;
    background: url('../IMG/work.png') repeat-y center center fixed;
    background-size: cover;
    z-index: 0;
    padding-bottom: 65px;
}


/*SLIDER */


body {
    margin: 0;
    padding: 0;
}

#block-for-slider {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 8);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/8);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
    background: url('../IMG/left_arrow.svg');
}

#next-btn {
    right: 20px;
    background: url('../IMG/right_arrow.svg');
}

/*END OF SLIDER */


#review{
    position: relative;
    /* top: 0px;
    left: 0px; */
    width: 100%;
    min-height: 650px;
    background: url('../IMG/pattern_otzivy.png') repeat;
    z-index: 0;
    padding-bottom: 65px;
}

#oblako_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 35px;
}

.oblako{
    position: relative;
    width: 520px;
    height: auto;
    padding: 40px;
    padding-bottom: 60px;
    background: url('../IMG/ICONS/oblako.png') no-repeat center center;
    background-size: 100% 100%;
    background-position: top;
    margin: 25px;
    border-radius: 35px;
}

.oblako_sign{
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

.oblako_text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #555555;
}

.oblako_fio{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FF9716;
}

.oblako_person{
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    margin-right: 12px;
    border-radius: 50%;
}

.oblako_car{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #373737;
}

#cont{
    position: relative;
    /* top: 0px;
    left: 0px; */
    width: 100%;
    min-height: 650px;
    background: url('../IMG/contacts_bg.png') no-repeat center center fixed;
    background-size: cover;
    z-index: 0;
    padding-bottom: 65px;
}

#cont_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 35px;
}

.cont_container--sub{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cont_block{
    width: 230px;
    height: 90px;
    background-color: #313131;
    margin: 2px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.cont_svg{
    width: 38px;
    height: 38px;
    margin: 0 auto;
}

.cont_soc_img{
    margin: 0 auto;
}

.cont_link{
    color: var(--main-yellow);
    margin: 0 auto;
    padding-top: 5px;
    text-decoration: none;
}

#link_phone{
    color: var(--main-yellow);
    border-bottom: 2px dashed var(--main-yellow);
}

#link_adr{
    color: #FC8686;
}

#link_mail{
    color: #8ACEFF;
    border-bottom: 2px dashed #8ACEFF;
}

#link_soc{
    color: #01E675;
}

#cont_phone{
    color: var(--main-yellow);
}

#cont_adress{
    color: #FC8686;
}

#cont_mail{
    color: #8ACEFF;
}

#cont_social{
    color: #01E675;
}


#footer_sub{
    position: relative;
    top: 60px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sub_link{
    color: #ACE1FF;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
}


/*FORM ACTION HERE!!!*/

#screen_form{
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 350px;
    border-radius: 25px;
    box-shadow: 0px 0px 18px 7px rgb(0 0 0 / 38%);
    background: url("../IMG/menu_mobile_bg.png") no-repeat center center;
    background-size: cover;
    z-index: 8;
    color: #ffffff;
    padding: 25px;
    transition: .55s display; /*НЕ РАБОТАЕТ*/
}

#screen_form > form{
    position: relative;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-top: 15px;
    text-align: center;
}

#close_form{
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 46px;
    cursor: pointer;
}

#close_form > img{
    width: 30px;
    height: 30px;
}

#form_fio, #form_phone{
    height: 45px;
    border-radius: 25px;
    margin: 15px;
    padding-left: 18px;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    background-color: rgba(255,255,255,.0);
    border: 2px solid white;
    color: white;
}

#form_submit{
    height: 45px;
    background-color: rgba(255,255,255,.0);
    border: 2px solid var(--main-green);
    border-radius: 25px;
    margin: 15px;
    padding-left: 18px;
    width: 90%;
    color: var(--main-green);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}

#form_submit:hover{
    background-color: var(--main-green);
    color: white;
}

/*FORM ACTION BELOW*/