body{
    position: absolute;
    width: 100%;  
    overflow-x: hidden;
}

#header{
    height: 80px;
    position:fixed;
    z-index: 1;
    width: 100vw;
}

#header_cart{
    display: none;
}

#header__content{
    border: none;
    justify-content: space-between;
    width: 95%;
}

#header__contacts{
    display: none;
}

#header__call{
    display: none;
}

#menu_mobile_icon{
    position: relative;
    right: 15px;
    display: block;
    width: 50px;
    cursor: pointer;
}

.menu_item{
    display: block;
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
}

.menu_item:hover{
    border-bottom: -2px solid var(--main-yellow);
    color: #fff;
    background-color: rgb(90, 90, 90);
    /*ADD ANIMATION*/
}

#menu_mobile_cross{
    display: none;
    width: 50px;
    cursor: pointer;
}

#screen{
    position: relative;
    top: 80px;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 45px;
}

#menu{
    display: none;
}

#signalka{
    z-index: 0;

}

#menu_mobile{
    display: none;
    position: fixed;
}

#menu_mobile_contacts{
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding-top: 15px;
}

.oblako_text{
    font-size: 14px;
}

#menu_mobile--regym_text, #menu_mobile--link{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
}

#menu_mobile__call--phone{
    text-decoration: none;
    border-bottom: 2px dashed rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    margin: 0 auto;
    color: #ffffff;
}

#reverseCall_BUTTON{
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50%; 
    line-height: 65px;   
    text-align: center;
}

.cont_svg{
    height: 45px;
    width: auto;
}

#block-for-slider {
    width: 90%;
}

.cont_soc_img > a{
    margin: 8px;
}

#menu_mobile--link, #menu_mobile--regym_text{
    font-size: 18px;
}

#reverseCall_Button__text{
    display: none;
}

.header_title{
    max-width: 80vw;
    font-size: 16px;
    height: 60px;
    color: var(--main-dark-grey);
    text-align: center;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
}

.header2_title{
    font-size: 18px;
    top: -20px;
}

#reverseCall_Button__SVG{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
}

#reverseCall_BUTTON > img{
    width: 32px;
    height: 32px;
}

#screen__container{
    top: 5%;
}

#screen__container--text > h1{
    font-size: 32px;
}

#screen__container--text > p{
    font-size: 22px;
}


.cards_container{    
    padding-right: 5px;
    padding-left: 5px;
}

.marquee_container{
    width: 95%;
}

.card1{
    max-width: 98vw;
    overflow-x: hidden;
}

#container_signal2, #container_zvuk_2, #container_noize_1{
    height: 635px;
    overflow-y: hidden;
}

.expand_block{
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 75px;
    line-height: 75px;
    position: relative;
    top: 10px;
    left: 0px;
    margin-bottom: 55px;
    text-align: center;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}